

<style>
    .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color:rgba(0, 0, 0, 0.897);
       color:white;
       text-align: center;
    }
    </style>
<div class="footer">
    <p style="margin-top:5px ;">Kartik Khanna &copy; 2020</p>
  </div>
</body>
</html>