<%-include('partials/header')%>

<div class="container">
    <header class="jumbotron">
        <div class="container">
        <h2 class="text-center">Sorry! You do not have permission</h2>
        <p>
            <a class="btn btn-primary btn-large" style="margin-left: 45rem;" href="/campgrounds">Go Back</a>
        </p>
    </div>
    </header>
</div>
    <%-include('partials/footer')%>