body{
    background-color: rgba(0, 0, 0, 0.932);
}
.thumbnail img{
    width:100%;
}
.thumbnail{
    padding:0;
}
.thumbnail .caption-full{
    padding:8px;
}

.white-color{
color:white !important;
}